<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.zurbag.question.dao.QuestionDaoCsv">
        <constructor-arg name="csvResourcePath" value="questions.csv"/>
    </bean>

    <bean id="quizService" class="ru.zurbag.question.service.QuizServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>

</beans>